html {
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: "Candara", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.box-white {
  background-color: white;
  border-radius: 20px;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #b61585;
  text-transform: uppercase;
}

.nav img {
  margin-left: 200px;
  width: 100px;
  height: 60px;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 200px;
}

.nav li {
  font-size: 2rem;
  text-align: center;
  margin: 0 20px;
}

.nav a:hover {
  color: white;
}

section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section h1 {
  font-size: 2rem;
}

#home {
  background-color: lightseagreen;
}

.chart_container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#chart_constructor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#chart_constructor button {
  width: 200px;
  border: 2px pink solid;
  border-radius: 6px;
  background-color: white;
  padding: 5px;
  font-size: 1.2rem;
  font-family: "Candara", sans-serif;
  font-weight: 600;
  outline: none;
}

#chart_constructor button:active {
  color: white;
  background-color: pink;
}

#chart_engine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chart_input {
  margin: 10px 0;
}

.chart_input input, .chart_input select {
  margin-right: 4px;
  border: 2px pink solid;
  border-radius: 6px;
  background-color: white;
  padding: 5px;
  font-family: "Candara", sans-serif;
  font-weight: 600;
  outline: none;
  color: black;
}

.chart_input input::-webkit-input-placeholder, .chart_input select::-webkit-input-placeholder {
  color: black;
}

.chart_input input:-ms-input-placeholder, .chart_input select:-ms-input-placeholder {
  color: black;
}

.chart_input input::-ms-input-placeholder, .chart_input select::-ms-input-placeholder {
  color: black;
}

.chart_input input::placeholder, .chart_input select::placeholder {
  color: black;
}

.chart_input input:focus, .chart_input select:focus {
  background-color: pink;
  color: white;
}
/*# sourceMappingURL=style.css.map */